albumentations==1.3.1
appdirs==1.4.4
apturl==0.5.2
beautifulsoup4==4.10.0
blinker==1.4
Brotli==1.0.9
CacheControl==0.12.10
catfish==4.16.3
certifi==2023.7.22
cffi==1.15.0
chardet==4.0.0
charset-normalizer==3.2.0
click==8.0.3
cmake==3.27.2
colorama==0.4.4
command-not-found==0.3
contourpy==1.1.1
cryptography==3.4.8
cssselect==1.1.0
cupshelpers==1.0
customtkinter==5.2.0
cycler==0.11.0
darkdetect==0.8.0
dbus-python==1.2.18
defer==1.0.6
distro==1.7.0
distro-info==1.1+ubuntu0.2
einops==0.6.1
entmax==1.1
evdev==1.6.1
filelock==3.12.2
fonttools==4.42.1
fsspec==2023.6.0
html5lib==1.1
httplib2==0.20.2
huggingface-hub==0.16.4
idna==3.4
imageio==2.31.1
importlib-metadata==4.6.4
indicator-sound-switcher==2.3.9
jeepney==0.7.1
Jinja2==3.1.2
joblib==1.3.2
keyring==23.5.0
kiwisolver==1.4.5
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.3
lightdm-gtk-greeter-settings==1.2.2
lit==16.0.6
lxml==4.8.0
Mako==1.1.3
MarkupSafe==2.0.1
matplotlib==3.8.0
menulibre==2.2.2
more-itertools==8.10.0
mpmath==1.3.0
msgpack==1.0.3
mugshot==0.4.3
munch==4.0.0
mutagen==1.45.1
netifaces==0.11.0
networkx==3.1
numpy==1.25.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.0
olefile==0.46
onboard==1.4.1
opencv-python-headless==4.8.0.76
packaging==23.1
pandas==2.0.3
pexpect==4.8.0
Pillow==10.0.0
ply==3.11
psutil==5.9.0
ptyprocess==0.7.0
pycairo==1.20.1
pycparser==2.21
pycryptodomex==3.11.0
pycups==2.0.1
PyGObject==3.42.1
pyinotify==0.9.6
PyJWT==2.3.0
pynput==1.7.6
pyparsing==2.4.7
PyQt6==6.5.2
PyQt6-Qt6==6.5.2
PyQt6-sip==13.5.2
PyQt6-WebEngine==6.5.0
PyQt6-WebEngine-Qt6==6.5.2
PySide6==6.5.2
PySide6-Addons==6.5.2
PySide6-Essentials==6.5.2
python-apt==2.4.0+ubuntu2
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-Levenshtein==0.12.2
python-xlib==0.33
pytz==2023.3
PyWavelets==1.4.1
pyxattr==0.7.2
pyxdg==0.27
PyYAML==5.4.1
qudida==0.0.4
regex==2023.8.8
reportlab==3.6.8
requests==2.31.0
safetensors==0.3.2
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.11.2
scour==0.38.2
screeninfo==0.8.1
SecretStorage==3.3.1
sgt-launcher==0.2.7
shiboken6==6.5.2
six==1.16.0
soupsieve==2.3.1
svg-turtle==0.4.1
svgwrite==1.4.3
sympy==1.12
systemd-python==234
threadpoolctl==3.2.0
tifffile==2023.8.12
timm==0.5.4
tokenizers==0.13.3
torch==2.0.1
torchvision==0.15.2
tqdm==4.66.1
transformers==4.31.0
triton==2.0.0
typing_extensions==4.7.1
tzdata==2023.3
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36.1
ulauncher==5.15.6
unattended-upgrades==0.1
urllib3==1.26.5
wadllib==1.3.6
webencodings==0.5.1
websocket-client==1.2.3
websockets==9.1
x-transformers==0.15.0
xcffib==0.11.1
xdg==5
xkit==0.0.0
yt-dlp==2022.4.8
zipp==1.0.0
